{% load static %}

<script src="{% static 'vendors/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
{% if debug %}
  <script src="{% static 'vendors/bootstrap-4.1.3/js/bootstrap.bundle.js' %}"></script>
{% else %}
  <script src="{% static 'vendors/bootstrap-4.1.3/js/bootstrap.bundle.min.js' %}"></script>
{% endif %}
