{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'includes/base_stylesheet.html' %}

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>Hello, world!</h1>

    {% include 'includes/base_script.html' %}
  </body>
</html>
